@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* - VARIABLES - */

/* -- TARGET SCREEN SIZES -- */
$mobile: 375px;
$desktop: 1440px;

/* -- COLOURS -- */
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$darkBlue: hsl(249, 10%, 26%);
$grayishBlue: hsl(246, 25%, 77%);

/* -------------------------------------------------------------------------------------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
}

/* -------------------------------------------------------------------------------------------- */

.container {
  width: 80vw;
  height: 100vh;
  max-width: $mobile;
}

.title {
  color: $grayishBlue;
}

.description {
  color: $grayishBlue;
}

.signupForm {

  .notice {
    color: $grayishBlue;
  }

  .labels {
    color: $grayishBlue;
  }

  .fields {
    color: $grayishBlue;
  }

  .subBtn {
    color: $green;
  }

}

.footer {

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: #3e52a3;
  }

}

/* -------------------------------------------------------------------------------------------- */

@media (min-width: $desktop) {}